body {
    font-family: 'Work Sans', sans-serif;
}

.banner {
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

.btns {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 8px;
    gap: 24px;
    text-align: center;
}

.sliderdiv {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.divs {
    height: 7vmax;
    width: 7vmax;
    border-radius: 2px;
    background-color: #6d5dfc;
}

#value {
    margin: 5px;
}

.pad {
    border: 3px solid;
    position: absolute;
    width: 450px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin-left: -210px;
    margin-top: -160px;
}

.grid {
    width: auto;
    height: auto;
    display: grid;
    border: 2px solid;
}


